{% extends 'base.html' %}
{% block title %}Logout Page{% endblock %}

{% block link_style %}
    <link href="{{url_for('static',filename='css/logout.css')}}" rel="stylesheet">
{% endblock %}

{% block navbar_elements %}
<li class="nav-item active">
  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
</li>
{% if not username %}
<li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
</li>
{% else %}
<li class="nav-item">
  <a class="nav-link" href="/delete">Delete Account</a>
</li>
{% endif %}
{% endblock %}

{% block body_container %}
<div class="container-fluid">
<main style="text-align: center;align-self: center;">
{% if not username %}
<br><h3>There is no user logged in! please go to login page to login first...</h3><br>
{% else%}
</main>
</div>
      <!-- <form class="form" action="#" method="POST" style="margin-top: 3vw;margin rem width: fit-content;background-color: rgb(250, 227, 198);margin-left: auto;margin-right: auto;height:fit-content;text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
      <h1 class="h3 mb-3 font-weight-normal" style="font:45px bold;">Logout Page</h1><br> -->
      <form class="form-signin" action="#" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Logout Page</h1>
      <h4>Account</h4><br>
      <h4>username : {{username}}</h4><br>
      <h4>email : {{email}}</h4>      
      <button class="btn btn-lg btn-success btn-block" type="submit">Logout</button>
    </form>
    {% endif %}
{% endblock %}